---
---

<!-- Note : The front matter is where the javascript is written but still its
implemented only in the build time yet not available to the client; Inorder to
add client side js , just add the script tag -->
<footer class="p-4 w-full flex justify-center">
  <small class="text-center w-full">
    Copyrights &copy; <span id="copyright"></span> | All rights reserved
  </small>
</footer>

<script>
  document.getElementById("copyright").innerHTML = new Date()
    .getFullYear()
    .toString();
</script>
