---
import { Icon } from "astro-icon";
---

<nav>
  <div
    class="p-4 border-b border-black shadow-md flex items-center justify-between"
  >
    <Icon name="teenyicons:bitcoin-solid" width="30" height="30" />
    <div class="flex gap-7 bg-white">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </div>
  </div>
</nav>
