---
// Here is the front matter where js is written

import ViewTransitions from "astro/components/ViewTransitions.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

const { title, content = "Astro Blog" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={content} />
    <title>{title}</title>
  </head>
  <body
    id="body"
    class={`relative min-h-screen w-full flex flex-col transition-all bg-white text-black justify-between`}
  >
    <Navbar />
    <!-- <p class="cursor-pointer" id="toggle">Light</p> -->
    <div class="bg-gray-300/40 flex flex-1">
      <slot>Text Here</slot>
    </div>

    <Footer />
  </body>
  <ViewTransitions />
</html>

<script>
  let light = "bg-white text-black";
  let dark = "bg-black text-white";
  let theme = "light";
  const body = document.getElementById("body");
  const toggle = document.getElementById("toggle");
  toggle.addEventListener("click", () => {
    if (body.classList.contains("bg-white")) {
      theme === "light";
      body.classList.remove("bg-white", "text-white");
      body.classList.add("bg-black", "text-white");
    } else {
      theme === "dark";
      body.classList.remove("bg-black", "text-white");
      body.classList.add("bg-white", "text-black");
    }
  });
</script>
